/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
   --ifm-color-primary: #6d466b;
   --ifm-color-primary-dark: #5d3c5c;
   --ifm-color-primary-darker: #4e324d;
   --ifm-color-primary-darkest: #3e283d;
   --ifm-color-primary-light: #7d507a;
   --ifm-color-primary-lighter: #8c5a89;
   --ifm-color-primary-lightest: #9b6499;
   --ifm-background-color: #f8f8f8;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
   --ifm-color-primary: #9b6499;
   --ifm-color-primary-dark: #8b5a8a;
   --ifm-color-primary-darker: #845582;
   --ifm-color-primary-darkest: #6c466b;
   --ifm-color-primary-light: #a574a3;
   --ifm-color-primary-lighter: #aa7ba8;
   --ifm-color-primary-lightest: #b993b8;
   --ifm-background-color: #111111;
}

[data-theme="dark"] .hero__title,
[data-theme="dark"] .hero__subtitle {
   color: #ffffff;
}
