:root {
   --fontFamily: "Arial", sans-serif;
}

html,
body {
   font-family: var(--fontFamily);
   color: #111111;
   background-color: #f8f8f8;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   -webkit-tap-highlight-color: transparent;
}

::selection {
   color: #ffffff;
   background: #007bff;
}

::-webkit-scrollbar {
   width: 6px;
   height: 6px;
}

::-webkit-scrollbar-thumb {
   background-color: #007bff;
}

a {
   text-decoration: none;
   color: inherit;
}
